<mat-toolbar color="primary" class="toolbar">
    <div class="logo">
    <img style="max-width: 100%" src="assets/logo.png">
    </div>
    <div *ngIf="screenWidth > 800">
      <button mat-button routerLink="/feed" routerLinkActive="active-link">
        <div class="col">
          <mat-icon fontIcon="ondemand_video" ></mat-icon>
          <span>Feed</span>
        </div>
      </button>
      <button mat-button routerLink="/scores" routerLinkActive="active-link">
        <div class="col">
          <mat-icon fontIcon="table_chart"></mat-icon>
          <span>Scores</span>
        </div>
      </button>
      <button mat-button routerLink="/news" routerLinkActive="active-link">
        <div class="col">
          <mat-icon fontIcon="feed"></mat-icon>
          <span>News</span>
        </div>
      </button>
      <button mat-button (click)="toLogin()" *ngIf="!isAuthenticated" routerLinkActive="active-link">
        <div class="col">
          <mat-icon fontIcon="login"></mat-icon>
          <span>Login</span>
        </div>
      </button>
        <button mat-button (click)="logout()" *ngIf="isAuthenticated" routerLinkActive="active-link">
        <mat-icon fontIcon="logout"></mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-toolbar>