<div class="feed-container">
  <div *ngFor="let highlight of $highlights| async | slice: 0:offset">
    <mat-card class="highlight-card">
      <mat-card-title class="feed-card-title">{{ highlight.title }}</mat-card-title>
        <div class="subtitle">
          <span>{{ highlight.competition }}</span>
          <div class="time">
            <mat-icon fontIcon="access_time"></mat-icon>
            <span>{{ highlight.date | date }}</span>
          </div>
        </div>
      <div class="player-container">
        <img class="card-image" at-card-image *ngIf="!highlight.visible; else player"
          (click)="highlight.visible = !highlight.visible" [src]="highlight.thumbnail" />
      </div>
    </mat-card>
    <ng-template #player>
      <iframe class="card-player" [src]="getVideoUrl(highlight.videos[0].embed) | sanitizeUrl"></iframe>
    </ng-template>
  </div>
</div>