.feed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat-card {
    padding: 0;
}

.highlight-card {
    border: solid #1a237e;
    margin: 3em auto 1em auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
}

.feed-card-title {
    background-color: #1a237e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 8px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    padding-inline: 8px;
}

.time {
    display: flex;
    align-items: center;
}

.player-container {
    width: 100%;
    margin-bottom: -5px !important;
}

.card-image,
.card-player {
    width: 780px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 800px) {

    .card-image,
    .card-player {
        width: 100vw;
    }

    .mat-card {
        width: 100vw;
    }

    .mat-card-title-group {
        margin: 0 24px 0 24px;
    }
}