.selection-container {
    display: flex;
    margin-top: 84px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.news-card {
    margin: 5%;
    max-width: 400px;
}

.header-image {
    background-size: cover;
}

.divider{
    margin: 8px;
}