<footer>
    <mat-toolbar class="toolbarNav">
      <button mat-button routerLink="feed" routerLinkActive="active-link">
        <mat-icon fontIcon="ondemand_video"></mat-icon>
        <span>Feed</span>
      </button>
      <button mat-button routerLink="/scores" routerLinkActive="active-link">
        <mat-icon fontIcon="table_chart">
        </mat-icon>
        <span>Scores</span>
      </button>
      <button mat-button routerLink="/news" routerLinkActive="active-link" >
        <mat-icon fontIcon="feed"></mat-icon>
        <span>News</span>
      </button>
      <button mat-button routerLink="/auth" routerLinkActive="active-link" >
        <mat-icon class="material-icons color_blue" fontIcon="login"></mat-icon>
        <span>Auth</span>
      </button>
    </mat-toolbar>
  </footer>